<div *ngIf="pares.length" class="pares-scroll">
  <div class="pares-grid">
    <div class="poster-pair" *ngFor="let par of pares">
      <img
        class="poster"
        *ngFor="let pelicula of par"
        [src]="pelicula.poster_path ? (pelicula.poster_path | imagen) : ''"
        [alt]="pelicula.title || 'Sin titulo'"
      />
    </div>
    <div class="poster-pair pair-add">
      <ion-button class="btn-mas" size="default" fill="solid" (click)="onClick()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>

<ion-card *ngIf="!peliculas.length">
  <ion-card-content>No hay elementos para mostrar.</ion-card-content>
</ion-card>
