ion-card {
  margin: 0 0 1rem 0;
}

dt {
  margin: 0;
}

ion-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

@media (min-width: 768px) {
  ion-card img {
    height: 250px;
  }
}
