<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="peliculasRecientes.length">
    <ion-item *ngFor="let pelicula of peliculasRecientes">
      <ion-card>
        <img
          [src]="pelicula.backdrop_path ? (pelicula.backdrop_path | imagen) : ''"
          alt="{{ pelicula.title }}"
        />
        <ion-card-header>
          <ion-card-title>{{ pelicula.title }}</ion-card-title>
          <ion-card-subtitle>{{ pelicula.release_date }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="!peliculasRecientes.length">
    <ion-card-content>No hay películas recientes disponibles.</ion-card-content>
  </ion-card>
</ion-content>
