<<<<<<< HEAD
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

=======
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
>>>>>>> upstream/main
/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
<<<<<<< HEAD

=======
>>>>>>> upstream/main
/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

<<<<<<< HEAD
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.poster {
  width: 110px !important;
  height: 160px !important;
=======
/* Forzar tema oscuro */
:root {
  --ion-background-color: #1a1a1a;
  --ion-text-color: #ffffff;
  --ion-toolbar-background: #1a1a1a;
  --ion-toolbar-color: #ffffff;
  --ion-tab-bar-background: #1a1a1a;
  --ion-tab-bar-color: #666;
  --ion-tab-bar-color-selected: #3880ff;
}

body {
  background: #1a1a1a !important;
  color: white !important;
}

ion-content {
  --background: #1a1a1a !important;
  --color: white !important;
}

ion-toolbar {
  --background: #1a1a1a !important;
  --color: white !important;
}

ion-title {
  color: white !important;
}

ion-tab-bar {
  --background: #1a1a1a !important;
  --color: #666 !important;
}

ion-tab-button {
  --color: #666;
  --color-selected: #3880ff;
}

h1, h2, h3, h4, h5, h6, p {
  color: white !important;
}

ion-item {
  --background: #1a1a1a;
  --color: white;
}

ion-list {
  background: #1a1a1a;
>>>>>>> upstream/main
}
